;;   Copyright (c) Metadata Partners, LLC. All rights reserved.
;;   The use and distribution terms for this software are covered by the
;;   Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php)
;;   which can be found in the file epl-v10.html at the root of this distribution.
;;   By using this software in any fashion, you are agreeing to be bound by
;;   the terms of this license.
;;   You must not remove this notice, or any other, from this software.

{:model
 [[{:db/id #db/id[:db.part/db]
    :db/ident :model.type/trading
    :db/doc "A degenerate trading system with a single type of trader,
tracking only balances."}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/traderCount
    :db/valueType :db.type/long
    :db/doc "Number of traders"
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/initialBalance
    :db/valueType :db.type/long
    :db/doc "Initial balance for each trader"
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}
   {:db/id #db/id[:db.part/db]
    :db/ident :model/meanTradeAmount
    :db/valueType :db.type/long
    :db/doc "Mean size of trades (geometric distribution)."
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}   
   {:db/id #db/id[:db.part/db]
    :db/ident :model/meanHoursBetweenTrades
    :db/valueType :db.type/long
    :db/doc "Mean time between trades in hours (geometric distribution)"
    :db/cardinality :db.cardinality/one
    :db.install/_attribute :db.part/db}]]
 :test
 [[{:db/id #db/id[:db.part/db]
    :db/ident :test.type/trading}
   {:db/id #db/id[:db.part/db]
    :db/ident :agent.type/trader}
   {:db/id #db/id[:db.part/db]
    :db/ident :action.type/trade}]]
 
 }
